.home {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    .login-button {
        width: 250px;
        align-self: center;
        margin-top: 5vh;
        background-color: #635dff !important;
        border-color: #635dff !important;
        border-radius: 30px;
    }
    .carrots {
        background-image: url("https://supereasy.s3.us-east-2.amazonaws.com/carrotbg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 89vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}